.checkoutContainer {
  align-items: center;
  border: solid 2px red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.itemContainer {
  align-items: center;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
