.loginContainer {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
  width: 100%;
}

.loginBox {
  align-items: center;
  background-color: #b1c2be;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 444px;
  justify-content: center;
  width: 425px;
}

.loginButton {
  background-color: #036b52;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 28px;
  height: 59px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 370px;
}

.loginButAdd {
  border-color: #036b52;
  border-radius: 10px;
  color: #036b52;
  cursor: pointer;
  font-size: 28px;
  height: 59px;
  width: 370px;
}

.loginInputContainer {
  height: 112px;
  margin-bottom: 10px;
  width: 371px;
}

.loginInputContainer label {
  font-size: 28px;
  margin: 10px;
}


.loginInput {
  border-radius: 10px;
  height: 70px;
  margin-top: 5px;
  padding-left: 10px;
  width: 361px;
}

::placeholder {
  color: '#878787';
  padding-left: 10px;
}

.loginMsgErro {
  font-size: 16px;
}

@media only screen and ( max-width : 460px ) {

  .loginBox {
    height: 400px;
    width: 90%;
  }

  .loginInputContainer {
    height: 90px;
    margin-left: 15px;
    width: 90%;
  }

  .loginInput {
    height: 50px;
    width: 90%;
  }

  .loginButAdd, .loginButton {
    font-size: 20px;
    height: 50px;
    width: 85%;
  }

  .loginInputContainer label {
    font-size: 20px;
  }
}
